p{
    color: rgb(9, 9, 121);
    font-family: 'Henry';
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-align: justify;
    text-decoration: line-through;
    line-height: 1.5;
    letter-spacing: 1px;
}