div{
    background: #ededed;
    padding: 20pxcm;
    /*padding: 10in;*/
    font-family: sans-serif;
    border-left: 5px solid #999;
}

h1{
    margin: 0;
    font-size: 24px;
}

span{
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

p{
    color: #555;
}

/*Para cosas reales o para imprimir se utilizan medidas reales o fisicas, se utilisan para maquetar tactiles
La unidad relativa depende de otro valor mas
//Ejemplo-->% 1em = 20px
el em es preguntar el font-size del padre y lo duplica si no lo encunetra se va por afuera hasta que lo encuentre sino va a poner el del navegador
el rem hace lo mismo que el em pero va a buscar al elemento raiz 
medidas del grupo
// heigth --> 50vh o 50vw va amedir el hancho de la pantalla es muy comun para pantallas modales
vmax = 1vh y vmin = 1vw
cuando se ocupan cada uno em y rem son los ideales
para las dimenciones de los elementos los % em o rem o vw y vh para modelos responsivos 
si algo tenga siempre el mismi tamaño se usan px
